<% index ||= nil %>
<% child_index ||= nil %>
<%= turbo_frame_tag dom_id(form.object, index) do %>
  <div style="border: solid 1px black; margin: 10px">
    <%= form.hidden_field :id %>
    <%= form.label :name %>
    <%= form.text_field :name %><br />
    <%= link_to "孫の削除", grand_child_path(form.object.id||0, index: index, child_index: child_index), data: { turbo_method: :delete, turbo_confirm: "SURE?", turbo: true, turbo_stream: true} %>
  </div>
<% end %>